@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("InterDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("InterDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("InterDisplay-Bold.woff2") format("woff2");
}

body {
  font-feature-settings: "salt", "calt", "ss02", "zero";
  @apply bg-zinc-900;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
